<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <style>
        img {
            width: 200px; /* Set the size of the images */
            margin: 10px;
        }
        .image-container {
            display: flex;
            flex-wrap: wrap;
        }
    </style>
</head>
<body>
    <h1>Search Results for: {{ query_image }}</h1>

    <div class="image-container">
        <h3>Query Image:</h3>
        <img src="{{ url_for('static', filename='images/texture/' + query_image) }}" alt="Query Image">

        <h3>Top Similar Images:</h3>
        {% for result in results %}
            <div>
                <img src="{{ url_for('static', filename=result['image_path']) }}" alt="Similar Image">
                <p>Similarity: {{ result['similarity'] }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
